# powerlevel10k instant prompt
# パフォーマンス: プロンプトを即時表示するため .zshrc の先頭に配置する必要がある
# コンソール入力が必要な処理（パスワードプロンプト等）はこのブロックより前に書くこと
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# General

## LANG
export LANG=ja_JP.UTF-8
#export LC_ALL=ja_JP.UTF-8

## color
autoload -Uz colors
colors

## plugins
{{ if eq .chezmoi.os "darwin" -}}
# Mac
source $(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh
{{ else if eq .chezmoi.os "linux" -}}
# ArchLinux
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{ end -}}

## zsh-completions
{{ if eq .chezmoi.os "darwin" -}}
{{ if eq .chezmoi.arch "arm64" -}}
if [ -e /opt/homebrew/share/zsh-completions ]; then
	fpath=(/opt/homebrew/share/zsh-completions $fpath)
fi
{{ else -}}
if [ -e /usr/local/share/zsh-completions ]; then
	fpath=(/usr/local/share/zsh-completions $fpath)
fi
{{ end -}}
{{ end -}}

autoload -Uz compinit
# パフォーマンス: .zcompdump が24時間以上古い場合のみフル初期化、それ以外はキャッシュ利用
if [[ -n ${ZDOTDIR:-$HOME}/.zcompdump(#qN.mh+24) ]]; then
  compinit
else
  compinit -C
fi

## completion option
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'
zstyle ':completion:*' ignore-parents parent pwd ..
zstyle ':completion:*:default' menu select=1
zstyle ':completion:*:cd:*' ignore-parents parent pwd

## history
HISTFILE=~/.zsh_history
HISTSIZE=1000000
SAVEHIST=1000000

## options
setopt share_history
setopt hist_ignore_space
setopt hist_reduce_blanks
setopt inc_append_history
setopt auto_cd
setopt auto_pushd
setopt correct

# powerlevel10k theme
{{ if eq .chezmoi.os "darwin" -}}
# Mac
{{ if eq .chezmoi.arch "arm64" -}}
source /opt/homebrew/share/powerlevel10k/powerlevel10k.zsh-theme
{{ else -}}
source /usr/local/share/powerlevel10k/powerlevel10k.zsh-theme
{{ end -}}
{{ else if eq .chezmoi.os "linux" -}}
# ArchLinux
source /usr/share/zsh-theme-powerlevel10k/powerlevel10k.zsh-theme
{{ end -}}

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# alias
## update sudo expiration time
alias sudo='sudo -v; sudo '

## ls
{{ if eq .chezmoi.os "darwin" -}}
alias ls='ls -G'
alias ll='ls -alFG'
alias la='ls -AG'
alias l='ls -CFG'
{{ else -}}
alias ls='ls --color=auto'
alias ll='ls -alF --color=auto'
alias la='ls -A --color=auto'
alias l='ls -CF --color=auto'
{{ end -}}

## cd
# function; run ls after cd
cdls ()
{
\cd "$@" && ls -A --color=auto
}
alias cd="cdls"
alias work="cd ~/Workspace"
alias dot="cd ~/dotfiles"

## git
alias g='git'
alias ga='git add'
alias gd='git diff'
alias gs='git status'
alias gp='git push'
alias gb='git branch'
alias gf='git fetch'
alias gc='git commit'

## vim
alias vi="vim"
## neovim
alias nv="nvim"

## confirm destructive change
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

# anyenv
if [ -d $HOME/.anyenv ]
then
    export PATH="$HOME/.anyenv/bin:$PATH"
    eval "$(anyenv init -)"
fi

# Load machine-specific settings
[ -f ~/.zshrc.local ] && source ~/.zshrc.local
